.container-fluid
  .row.bg-primary.py-2
    .d-none.d-md-block.col-4.m-auto.text-center
      br
      p.text-white= "Happy Aquarium, Happy Fishes!"
      p.text-white= "Copyright: Benoit Robichaud 2021"