
<div class="row bg-primary container-1400px text-center">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="/images/fish.png", alt="logo" width="100" height="100"/></a>
    <div class="container" style="margin: auto; padding-top: 20px">
      <a href="/" class="btn btn-info " role="button" aria-pressed="true">ACCUEIL</a>
      <a href="/login" class="btn btn-info " role="button" aria-pressed="true">LOGIN</a>
      <a href="/form" class="btn btn-info" role="button" aria-pressed="true">FORMULAIRE</a>
      <a href="/resultats" class="btn btn-info role="button" aria-pressed="true">RÉSULTATS</a>
  </div>
</div>